input, select{
    margin: 0;
    padding: 8px 3px;
    outline: none;
}

.card{
    -webkit-box-shadow: 3px 3px 5px 1px #C9C9C9; 
    box-shadow: 3px 3px 5px 1px #C9C9C9;
    margin-bottom: 1em;
}

.row{
    display: flex;
    width: 100%;
}

.name, .company, .color{
    width: 33.33%;
}

.title, .email{
    width: 50%;
}

.message{
    width: 100%;
}

.imageBtn, .deleteBtn{
    width: 50%;
    padding: 8px 3px;
    cursor: pointer;
}

.imageBtn{
    background-color: pink;
}

.deleteBtn{
    background-color: lightgray;
}

.file{
    display: none;
}