@value makerGreen from '../../common/colors.css';
@value borderRad from '../../common/size.css';

.loginSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid makerGreen;   
    padding-bottom: 2rem; 
}

.loginHeader{
    width: 100%;
    background-color: makerGreen;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 1em 0;
}

.google, .github{
    width: 50%;
    padding: 8px;
    margin: 4px 0;
    border: 2px solid makerGreen;
    border-radius: borderRad;
    background-color: white;
}

.google:hover, .github:hover{
    background-color: makerGreen;
}