@value makerPink from '../../common/colors.css';

.body{
    margin: 0;
}

.sections{
    display: flex;
    width: 100%;
    text-align: center;
}

.listSection, .previewSection{
    width: 50%;
}

@media screen and (max-width: 1024px){
    .sections{
        flex-direction: column;
        align-items: center;
    }

    .listSection, .previewSection{
        width: 80%;
    }
}